<body>
  <mat-card class="container">
    <img src="{{ Movie.poster }}" alt="Extraordinary" />
    <mat-card-content class="content">
      <div class="headingAndRating">
        <h1>{{ Movie.name }}</h1>
        <p class="rating">⭐ {{ Movie.rating }}</p>
      </div>
      <div class="para">
        <button (click)="showdescription()" class="description">
          toggle description
        </button>
        @if (show) {
        <p class="summary">{{ Movie.summary }}</p>
        }
      </div>
    </mat-card-content>
    <app-counter />
    <button
      (click)="onDelete()"
      mat-fab
      aria-label="Example icon button with a delete icon"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <!-- <button  color="red" >Delete</button> -->
  </mat-card>
</body>
