<div class="likesbutton">
  <button
    color="primary"
    mat-icon-button
    (click)="likeincrement()"
    aria-label="like movie"
    matBadge="{{ like }}"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Example icon"
      fontIcon="
        thumb_up"
    ></mat-icon>
  </button>
  <button
    color="error"
    mat-icon-button
    (click)="likedecrement()"
    aria-label="like movie"
    matBadge="{{ dislike }}"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Example icon"
      fontIcon="
    thumb_down"
    ></mat-icon></button
  ><br />
</div>

@if(like-dislike>10){
<h2>you are awesome</h2>
<br />
}
<progress value="{{ (like * 100) / (like + dislike) }}" max="100"></progress
><br />
<!-- <progress value="{{ like }}" max="{{ like + dislike }}"></progress> -->
<!-- <progress [value]="like" [max]="like + dislike"></progress> -->
