// .wholecontainer{

//     gap: 3rem;
//     padding-top: 20px;
//     max-width: 1440px;
// }
.wholecontainer{
     display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    max-width: 1440px;
}

@media (min-width:800px){

    .wholecontainer{
        max-width: 1440px;
        display: grid;
        grid-template-columns: 3fr 3fr 3fr 3fr;
        gap: 3rem;
        padding-top: 20px;
    }
}
@media(max-width:1200px){
    .wholecontainer{
        grid-template-columns: 3fr 3fr 3fr;
    }
}
@media(max-width:900px){
    .wholecontainer{
        grid-template-columns: 3fr 3fr ;
    }
}
