<div class="addmovieclass">
  <!-- <label for="name">Name:</label>
  <input type="text" [(ngModel)]="name" required /> -->

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name" required placeholder="Ex. Neha" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Poster</mat-label>
    <input matInput [(ngModel)]="poster" required placeholder="https/:" />
  </mat-form-field>

  <!-- <label for="poster">Poster URL:</label>
  <input type="text" [(ngModel)]="poster" required /> -->

  <mat-form-field>
    <mat-label>Rating</mat-label>
    <input matInput [(ngModel)]="rating" required placeholder="0" />
  </mat-form-field>
  <!-- <label for="rating">Rating:</label>
  <input type="number" [(ngModel)]="rating" required /> -->

  <mat-form-field>
    <mat-label>Summary</mat-label>
    <input matInput [(ngModel)]="summary" required placeholder="0" />
  </mat-form-field>

  <!-- <label for="summary">Summary:</label>
  <input type="text" [(ngModel)]="summary" required /><br /> -->
  <button
    mat-raised-button
    (click)="addMovie()"
    type="submit"
    class="addButton"
  >
    Add Movie
  </button>
</div>

<!-- <form (ngSubmit)="addMovie()"> -->

<!-- </form> -->
<!-- <div class="add-movie">
  <form (ngSubmit)="addMovie()">
    <label for="name">Name:</label>
    <input id="name" [(ngModel)]="name" name="name" required />

    <label for="poster">Poster URL:</label>
    <input id="poster" [(ngModel)]="poster" name="poster" required />

    <label for="rating">Rating:</label>
    <input
      id="rating"
      type="number"
      [(ngModel)]="rating"
      name="rating"
      required
    />

    <label for="summary">Summary:</label>
    <input id="summary" [(ngModel)]="summary" name="summary" required />

    <button type="submit">Add Movie</button>
  </form>
</div> -->

<div class="wholecontainer">
  @for(movie of movies ; track $index){
  <app-moviedata [Movie]="movie" (delete)="deleteMovieP($event)" />
  }
</div>
