<!-- <div class="mycontainer">
  <img src="{{ image }}" alt="" />
  <p>
    Hello, <span>{{ name }}</span
    >😎😎
  </p>
</div> -->

<!-- <app-user name="srujan" />

<app-user name="teja" />
<router-outlet /> -->
<!-- <app-user name="phani" /> -->
<!-- <app-moviedata /> -->
<!-- @for(user of users ; track user.id){
<app-user [name]="user.name" [img]="user.img" />} -->
<!-- property binding -->
<!-- <app-movie-list [movies]="movies" /> -->

<!-- <app-counter /> -->

<!-- <app-color-game /> -->
<div>
  <form (ngSubmit)="addMovie()">
    <label for="name">Name:</label>
    <input id="name" [(ngModel)]="newMovie.name" name="name" required />

    <label for="poster">Poster URL:</label>
    <input id="poster" [(ngModel)]="newMovie.poster" name="poster" required />
    <label for="rating">Rating:</label>
    <input
      id="rating"
      type="number"
      [(ngModel)]="newMovie.rating"
      name="rating"
      required
    />
    <label for="summary">Summary:</label>
    <input
      id="summary"
      [(ngModel)]="newMovie.summary"
      name="summary"
      required
    />

    <button type="submit">Add Movie</button>
  </form>

  <app-movie-list [movies]="movies"></app-movie-list>
</div>

<!-- <div>
  <form (ngSubmit)="addMovie()">
    <label for="name">Name:</label>
    <input id="name" [(ngModel)]="newMovie.name" name="name" required />

    <label for="poster">Poster URL:</label>
    <input id="poster" [(ngModel)]="newMovie.poster" name="poster" required />

    <label for="rating">Rating:</label>
    <input
      id="rating"
      type="number"
      [(ngModel)]="newMovie.rating"
      name="rating"
      required
    />

    <label for="summary">Summary:</label>
    <input
      id="summary"
      [(ngModel)]="newMovie.summary"
      name="summary"
      required
    />

    <button type="submit">Add Movie</button>
  </form>

  <app-movie-list [movies]="movies"></app-movie-list>
</div> -->
