<!-- <div class="mycontainer">
  <img src="{{ image }}" alt="" />
  <p>
    Hello, <span>{{ name }}</span
    >😎😎
  </p>
</div> -->

<!-- <app-user name="srujan" />

<app-user name="teja" />
<router-outlet /> -->
<!-- <app-user name="phani" /> -->

<!-- @for(user of users ; track user.id){
<app-user [name]="user.name" [img]="user.img" />} -->
<!-- property binding -->
<!-- <app-movie-list [movies]="movies" /> -->

<!-- <app-counter /> -->

<!-- <app-color-game /> -->

<!-- <app-movie-list [movies]="movies"></app-movie-list> -->
<header>
  <nav>
    <a routerLink="/">Home</a><br />
    <a routerLink="/movies">Movies</a><br />
    <a routerLink="/color">color</a><br />
  </nav>
</header>
<router-outlet />
